body {
    margin: 0;
    background-color: grey;
    text-align: center;    
}
div.container {
    max-width: 50%;
    position: relative;
    width: 30%;
}
  
div.image {
    display: block;
    width: 100%;
    height: auto;
}
  
div.overlay {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: #252525;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}
  
div.container:hover .overlay {
    width: 100%;
    left: 0;
}
  
div.text {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}